<title>{{title}}</title>

<form action="/account" method="POST">
  <label>Username</label>
  <input type="text" name="username">
  <br><br>
  <label>Password</label>
  <input type="password" name="password">
  <br><br>
  <label>Email Address</label>
  <input type="text" name="email">
  <br><br>
  <button type="submit">Create user</button>
</form>
